.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.xs-flex-column {
  @media screen and (max-width: 820px) {
    flex-direction: column;
  }
}

.xs-w-full {
  @media screen and (max-width: 820px) {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }
}
.flex-auto {
  flex: 1 1 auto;
}

.justify-center-content {
  justify-content: center;
}

align-items-center {
  align-items: center;
}

.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}
.gap-24 {
  gap: 24px;
}
.text-sm {
  font-size: 0.75rem;
}

.text-lg {
  font-size: 1.5rem;
}

.text-semibold {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.mb-20 {
  margin-bottom: 20px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.py-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.w-half {
  width: 50%;
}

.w-full {
  width: 100%;
}

.my-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.xs-hide {
  @media screen and (max-width: 820px) {
    display: none !important;
  }
}

.xs-show {
  display: none;
  @media screen and (max-width: 820px) {
    display: flex !important;
  }
}
